body {
    margin: 0;
    padding: 0;
    height: 945px;
    background-image: linear-gradient(135deg, #ebebff 10%, #ffffff 100%);
    background-repeat: no-repeat;
  }
  

  




#file-upload-button{
    background: #3ab316;
}


.form-label{
font-weight: 600;
color: #8a2be2;
}

.overview{
padding-top: 80px;
}

.st{
color: #3ab316;
}

.na{
background-color: blueviolet;
color: white;
padding: 10px;

}

.bt{
width: 120px;
height: 40px;
border-radius: 50px;
border: none;
font-weight: 500;
font-size: small;
align-self: center;

}

a {
color: #ffffff;
}

@media (max-width: 768px) {

a {
color: #ffffff;

}

.btn_home {
margin-top: 25px;
}

}

@media (max-width: 368px) {
.container {
display: block;

}

a {
color: rgb(255, 255, 255);
font-size: small;

}

.btn_home {
margin-top: 5px;
width: 100px;

}

}

.ghtml{
padding-top: 56px;
}



/*  */

.bt{
    background-color: #ffffff;
    transition: 0.3s;
    border: 2px solid blueviolet;
    width: 70px;
    height: 30px;
}

.bt:hover{
    transition: 0.3s;
    background-color: blueviolet;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    color: white;
    /* box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}





.ov{
    padding-top: 80px;
    padding-left: 100px;
}


.card2{
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.card2:hover{
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.form-control{
    background-color: rgb(230, 230, 255);
    border:none;

}

