body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #ebebff 10%, #ffffff 100%);
    font-family: 'Poppins', sans-serif;
  }
  



#file-upload-button{
    background: #3ab316;
}


.form-label{
font-weight: 600;
color: #8a2be2;
}

.overview{
padding-top: 80px;
}

.st{
color: #3ab316;
}

.na{
background-color: blueviolet;
color: white;
padding: 10px;

}

.bt{
width: 120px;
height: 40px;
border-radius: 50px;
border: none;
font-weight: 500;
font-size: small;
align-self: center;

}

a {
color: #ffffff;
}

@media (max-width: 768px) {

a {
color: #ffffff;

}

.btn_home {
margin-top: 25px;
}

}

@media (max-width: 368px) {
.container {
display: block;

}

a {
color: rgb(255, 255, 255);
font-size: small;

}

.btn_home {
margin-top: 5px;
width: 100px;

}

}

.ghtml{
padding-top: 56px;
}